{#
This module is configuring hostname for a swith
#}

#jinja2: lstrip_blocks: "True", trim_blocks: "True"

!
lldp run
no cdp run
!
{% if hostname is defined %}
    hostname {{ hostname }}
{% endif %}
{% if domain.name is defined %}
    ip domain name {{ domain.name }}
{% endif %}
