show run nve
show nve peers
show nve vni
show nve interface nve 1 detail 
show l2vpn evpn peers vxlan
show bgp l2vpn evpn summary 
show bgp l2vpn evpn
show l2route evpn mac

{% if vlans is defined -%}
    {% for ivlan,idata in vlans.items() %}
       show l2vpn evpn evi {{ivlan}} detail
       show l2vpn evpn mac evi {{ivlan}}
       show l2vpn evpn mac ip evi {{ivlan}}
       show l2fib bridge-domain {{ivlan}} detail
    {% endfor %}
{% endif %}


