{#
This module configures ip addresses for underlay underlay_interfaces
#}

#jinja2: lstrip_blocks: "True", trim_blocks: "True"

{% for interface in underlay_interfaces %}
  !
  interface  {{ interface }}
    {# prevents err-disabled caused by STP #}
    shutdown
  {% if underlay_interfaces[interface].name is defined %}
    description {{ underlay_interfaces[interface].name }}
  {% endif %}
  {% set type = underlay_interfaces[interface].type | default ('physical') %}
  {% if type == 'loopback'%}
    ip address {{ underlay_interfaces[interface].ip_address }} {{ underlay_interfaces[interface].subnet_mask }}
  {% elif type == 'slave' %}
    no switchport
    channel-group {{ underlay_interfaces[interface].etherchannel_number }} mode active
  {% else %}
    no switchport
    ip unnumbered {{ underlay.router_id }}
    no ip redirects
    no ipv6 redirects
    bfd interval 250 min_rx 250 multiplier 3      
  {% endif %}
    no shutdown
{% endfor %}
